.App {
    text-align: center;
  }
  
  .App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .login-title {
    font-size: 5rem;
    color: #0866FF;
    margin: 100px 0 0 0;
  }
  
  .login-input {
    border: 1px solid #0866FF;
    border-radius: 10px;
    padding: 12px 12px;
    width: 300px;
    font-size: 1rem;
    margin: 0 0 20px;
  }
  
  .login-button {
    background-color: #0866FF;
    color: white;
    border: none;
    width: 325px;
    border-radius: 10px;
    padding: 14px 15px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0;
    cursor: pointer;
  }
  
  .login-sub-title {
    color: gray;
    font-size: 1.2rem;
    margin: 0 0 20px 0;
  }
  
  .login-logo {
    width: 300px;
    margin: 20px ;
  }
  
  .up-in-account {
    color: black;
    font-size: 1rem;
    margin: 20px 0 0 0;
  }
  
  .up-in-link {
    color: #0866FF;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 10px 0 0 0;
    cursor: pointer;
    text-decoration: none;
  }